<?xml version="1.0"?>
<configuration>
  <appSettings>
  
  </appSettings>
  <connectionStrings>
    <add name="rcon" connectionString="Data Source=10.0.1.2\SQL2012;Initial Catalog=ivps-website;Persist Security Info=True;User ID=rccsqladmin;Password=1986250r!"/>
    <add name="SQLite" connectionString="Data Source=|DataDirectory|\data;" />
  </connectionStrings>
  <system.web>
  	<sessionState timeout="59"></sessionState>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Presentation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      	<codeSubDirectories>
        	<add directoryName="VBCode" />
        	<add directoryName="CSCode" />
		</codeSubDirectories>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="10000" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
  	<httpErrors existingResponse="Auto">
  		<remove statusCode="404" />
  		<error statusCode="404" path="/404.aspx" responseMode="ExecuteURL"/>
	</httpErrors>
  	<rewrite>
  		<providers>
  		<provider name="Redirect302" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
                    <settings>
                        <add key="ConnectionString" value="Data Source=10.0.1.2\SQL2012;Initial Catalog=ivps-website;Persist Security Info=True;User ID=rccsqladmin;Password=1986250r!" />
                        <add key="StoredProcedure" value="Redirect302" />
                        <add key="CacheMinutesInterval" value="0" />
                    </settings>
                </provider>
  		<provider name="Redirect301" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
                    <settings>
                        <add key="ConnectionString" value="Data Source=10.0.1.2\SQL2012;Initial Catalog=ivps-website;Persist Security Info=True;User ID=rccsqladmin;Password=1986250r!" />
                        <add key="StoredProcedure" value="Redirect301" />
                        <add key="CacheMinutesInterval" value="0" />
                    </settings>
                </provider>
                <provider name="Rewrite" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
                    <settings>
                        <add key="ConnectionString" value="Data Source=10.0.1.2\SQL2012;Initial Catalog=ivps-website;Persist Security Info=True;User ID=rccsqladmin;Password=1986250r!" />
                        <add key="StoredProcedure" value="GetUrlRewrite" />
                        <add key="CacheMinutesInterval" value="0" />
                    </settings>
                </provider>
                <provider name="Redirect" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
                    <settings>
                        <add key="ConnectionString" value="Data Source=10.0.1.2\SQL2012;Initial Catalog=ivps-website;Persist Security Info=True;User ID=rccsqladmin;Password=1986250r!" />
                        <add key="StoredProcedure" value="GetUrlRedirect" />
                        <add key="CacheMinutesInterval" value="0" />
                    </settings>
                </provider>
    	</providers> 
		<rules> 
			
			<rule name="RCCRedirect301" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{Redirect301:{REQUEST_URI}}" pattern="(.+)"  />
				</conditions>
				<action type="Redirect" url="{C:1}" redirectType="Permanent" appendQueryString="false"/>
			</rule>
			
			<rule name="RCCRedirect302" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{Redirect302:{REQUEST_URI}}" pattern="(.+)"  />
				</conditions>
				<action type="Redirect" url="{C:1}" redirectType="Found" appendQueryString="false"/>
			</rule>
			
			<rule name="RCCRewrite" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					<add input="{URL}" negate="true" pattern="\.axd$" />  
					<add input="{Rewrite:{R:1}}" pattern="(.+)" />
				</conditions>
				<action type="Rewrite" url="{C:1}?{R:1}" />
			</rule>	

			<rule name="RCCRedirect" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					<add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" ignoreCase="true" negate="true" />
					<add input="{URL}" negate="true" pattern="\.axd$" />  
					<add input="{Redirect:{R:1}}" pattern="(.+)" />
				</conditions>
				<action type="Redirect" url="{C:1}" />
			</rule>	
		</rules>
	</rewrite>
  </system.webServer>
</configuration>