/**
 * Typography
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i|Montserrat:600,600i|Crete+Round&display=swap');

%montserrat {
  font-family: $font-family;
}

%open-sans {
  font-family: $font-family-alt;
}

%american-typewriter {
  font-family: $font-family-serif;
}

.open-sans {
  @extend %open-sans;
}

.montserrat {
  @extend %montserrat;
}

.american-typwriter {
  @extend %american-typewriter;
}

a {
  text-decoration: $link-decoration;
  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

address {
  font-style: normal;
  font-size: rem-calc(14);
  line-height: line-calc(18, 14);

  @include screen-sm-up {
    font-size: rem-calc(16);
    line-height: line-calc(22, 16);
  }
}

blockquote {
  font-size: rem-calc(16);
  font-weight: $text-book;
  line-height: line-calc(28,16);

  p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

}

cite {
  font-size: rem-calc(16);
  font-weight: $text-bold;
  font-style: normal;
  line-height: line-calc(19, 16);
}

h1,.h1, h2, .h2, h3,.h3, h4, .h4, dt {
  font-family: $font-family-alt;
  margin: auto auto auto 0;
}

%h0 {
  font-size: rem-calc(48);
  font-weight: $text-bold;
  line-height: line-calc(55, 48);
  text-transform: uppercase;

  @include screen-sm-up {
    font-size: rem-calc(52);
    line-height: line-calc(62, 52);
  }

}

.h0 {
  @extend %h0;
}

%h1 {
  font-size: rem-calc(38);
  font-weight: $text-bold;
  line-height: line-calc(46, 38);

  @include screen-sm-up {
    font-size: rem-calc(42);
    line-height: line-calc(52, 42);
  }
}

h1, .h1 {
  @extend %h1
}

%h2 {
  font-size: rem-calc(30);
  font-weight: $text-book;
  line-height: line-calc(39, 30);

  @include screen-sm-up {
    font-size: rem-calc(36);
    line-height: line-calc(42, 36);
  }
}

h2,
.h2 {
  @extend %h2;
}

%h3 {
  font-size: rem-calc(22);
  font-weight: $text-bold;
  line-height: line-calc(28, 22);

  @include screen-sm-up {
    font-size: rem-calc(24);
    line-height: line-calc(30, 24);
  }
}

h3,
.h3 {
  @extend %h3;
}

%h4 {
  font-size: rem-calc(18);
  line-height: line-calc(16, 18);
  font-weight: $text-bold;

  @include screen-sm-up {
    font-size: rem-calc(20);
    line-height: line-calc(24, 20);
  }
}

h4,
.h4 {
  @extend %h4;
}

%h5 {
  font-size: rem-calc(16);
  line-height: 1;
  font-weight: $text-book;

  @include screen-sm-up {
    font-size: rem-calc(18);
  }
}

h5,
.h5 {
  @extend %h5;
}

%h6 {
  font-size: rem-calc(14);
  line-height: 1;
  font-weight: $text-bold;

  @include screen-sm-up {
    font-size: rem-calc(16);
  }
}

h6,
.h6 {
  @extend %h6;
}

%small {
  font-size: rem-calc(9);
  line-height: 1;

  @include screen-sm-up {
    font-size: rem-calc(10);
  }

}

%large {
  @extend %h5;
}

label {
  font-size: rem-calc(10);
  font-weight: $text-book;
  line-height: line-calc(11.5, 10);

  @include screen-sm-up {
    font-size: rem-calc(12);
    line-height: line-calc(16, 12);
  }

}

%p {
  font-size: rem-calc(14);
  font-weight: $text-book;
  line-height: line-calc(22, 14);

  @include screen-sm-up {
    font-size: rem-calc(16);
    line-height: line-calc(24, 16);
  }
}

p, .p, td {
  @extend %p;
}

li {
  font-size: rem-calc(12);
  font-weight: $text-book;
  line-height: line-calc(22, 12);

  @include screen-sm-up {
    font-size: rem-calc(14);
    line-height: line-calc(24, 14);
  }
}

dd {
  font-size: rem-calc(18);
  font-weight: $text-book;
  line-height: line-calc(23, 18);

  @include screen-sm-up {
    font-size: rem-calc(20);
    line-height: line-calc(27, 20);
  }
}

th, dt {
  @extend %h4;
}

small, p.small, li.small, td.small, dd.small, dt.small, span.small {
  @extend %small;
}