<div style="max-width:600px;padding:25px;">
<style>
.honeypot{
    display: none;
}
.larger-h3{
    font-size: 45pt;
}
.larger-h4{
    font-size: 38pt;
}
.larger-h5{
    font-size: 22pt;
}
.btn.btn-primary.cisco-btn-primary {
    color: #ff394c;
    border-color: #ff394c;
}
.btn.btn-primary.cisco-btn-primary:hover{
	color:#fff;
}
.ebookcta h5, a, btn, btn-primary {
    color: unset;
}

</style>
		<div style="text-align:center;">
			<img src="templates/ebook.png" style="height:200px;">
		</div>
        <h2 style="text-align:center;">What should you pay for IT Support?</h2>
        <p>
        	Computer Support for Business has changed for the leading companies. Just having an IT Guy or Gal may not be enough to keep pace today.
        </p>
        <p>
			In our eBook you can learn:
		</p>
        <ul style="margin-bottom:1rem;">
        	<li>
        		What should IT Support Cost in SE Michigan
        	</li>
        	<li>
        		What is STANDARDS BASED MSP
        	</li>
        	<li>
        		How to eliminate hidden costs rooted in IT
        	</li>
        	<li>
        		How to eliminate business risks rooted in IT
        	</li>
        </ul>
        <h4 style="text-align:center;margin-top:2rem;">
        	Fill out the form below to receive your free eBook.
        </h4>
<div>
<form method="post" action="/ebook-popup-form-handler.ashx">
	<div id="main-contact-form" class="contact-form cisco-form">

			<div class="form-group col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 2px;">
					<input name="name" class="form-control" type="text" required="required" placeholder="Name*">
				</div>
			</div>
			<div class="form-group col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 2px;">
					<input name="email" class="form-control" type="email" required="required" placeholder="Email Address*">
					<input name="honeypot"  class="honeypot" placeholder="" type="hidden">
				</div>
			</div>
			<div class="form-group col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 2px;">
					<input name="company"  class="form-control" type="text" required="required" placeholder="Company Name*">
				</div>
			</div>

			<div class="form-group col-md-6 col-sm-12 col-xs-12" style="padding: 0px;">
				<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 2px;">
					<input name="phone"  class="form-control" type="tel" required="required" placeholder="Phone*">
				</div>
			</div>
			<div class="form-group col-md-12 col-sm-12 col-xs-12 submitbtn" style="text-align:center;">
				<em>*All fields are required for submission.</em><br><br>
			   <input type="submit" value="Download Now"   class="btn btn-primary cisco-btn-primary">
			</div>
	</div>
</form>
</div>
</div>